@page
@model OnlinePharmacy.Pages.OrderViewMedicine.EditModel

@{
    ViewData["Title"] = "Edit Order of Medicine";
}

<h4>Edit Order of Medicine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderMedicine.id" />
            <div class="form-group">
                <label asp-for="OrderMedicine.Name" class="control-label"></label>
                <input asp-for="OrderMedicine.Name" class="form-control" />
                <span asp-validation-for="OrderMedicine.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderMedicine.Contact" class="control-label"></label>
                <input asp-for="OrderMedicine.Contact" class="form-control" />
                <span asp-validation-for="OrderMedicine.Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderMedicine.MeidicineName" class="control-label"></label>
                <input asp-for="OrderMedicine.MeidicineName" class="form-control" />
                <span asp-validation-for="OrderMedicine.MeidicineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderMedicine.Strips" class="control-label"></label>
                <input asp-for="OrderMedicine.Strips" class="form-control" />
                <span asp-validation-for="OrderMedicine.Strips" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
